body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#assignment-instructions {
  color: blue;
  font-family: sans-serif;
}

code {
  font-family: monospace;
  color: red;
}

.second-code {
  color: green;
}

ol > li:not(:nth-child(1)) {
  background-color: black;
  color: white;
}

ol li {
  background-color: black;
  color: white;
}
